.about-page {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANi8xMy8xN9IVNcwAAAAYSURBVAiZY/j//z8DEwMDw3Ak2C7MiwQAxisFIyPcW6IAAAAASUVORK5CYII=');
}

.about-page-header {
    padding: 90px 0;
    display: flex;
}

.about-page-header-image {
    width: 50%;
    position: relative;
}

.about-page-header-image img {
    position: absolute;
    right: 0;
    top: 0;
}

.about-page-header-text {
    width: 50%;
    position: relative;
    padding-top: var(--cell);
}

.about-page-header-text h1 {
    font-size: 111px;
    font-weight: 400;
    color: #05CF9D;
    margin-left: -35px;
    -webkit-font-smoothing: antialiased;
    transform: translateY(8px);
}

.about-page-header-text p {
    margin: 0 auto;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1.22px;
    line-height: 56px;
    width: 450px;
    -webkit-font-smoothing: antialiased;
    transform: translateY(-1px);
    padding-top: var(--cell);
}

.about-page-header-text p small {
    font-size: 14px;
    letter-spacing: 3.93px;
    display: block;
    transform: translateY(22px);
    text-transform: uppercase;
}


.about-page-header-text .buy-tickets {
    display: none;
}

.about-page-past {
    display: flex;
    padding: var(--cell) 0 var(--cell) 240px;
}

.about-page-past-section {
    padding-right: 70px;
    width: 410px;
}

.about-page-past-section h3 {
    -webkit-font-smoothing: antialiased;
    letter-spacing: 3.98px;
    line-height: 45px;
    font-size: 48px;
    font-weight: 400;
    color: #EAEBF3;
    transform: translateY(2px);
}

.about-page-past-section p {
    font-size: 15px !important;
    font-weight: 100;
    font-family: "sofia-pro";
    line-height: 33px;
    letter-spacing: 0.9px;
    -webkit-font-smoothing: antialiased;
    transform: translateY(23px);
}

.about-page-past-section a {
    font-size: 15px;
    font-size: 600;
    color: var(--yglf-green);
    text-decoration: none;
    line-height: var(--cell);
    display: inline-block;
    letter-spacing: 3.51px;
    border-bottom: 1px solid var(--yglf-green);
}

.about-page-past-section a:hover {
    color: var(--yglf-white);
    border-bottom-color: var(--yglf-white);
}


@media screen and (max-width: 1024px) {
    .about-page-header-text {
        padding-top: calc(var(--cell) * 1)
    }
    .about-page-header-text h1 {
        font-size: 90px;
        margin-left: -28px;
        transform: translateY(-13px);
        letter-spacing: 1.71px;
    }

    .about-page-header-text p {
        width: 300px;
        font-size: 26px;
        padding-top: 0;
        transform: translateY(5px);
    }

    .about-page-header-text p small {
        transform: translateY(17px);
    }

    .about-page .container {
        max-width: 764px;
    }

    .about-page-past {
        display: flex;
        padding: var(--cell) 0 var(--cell) 140px;
    }

    .about-page-past-section {
        padding-right: 50px;
    }
    .about-page-past-section p {
        transform: translateY(-22px);
    }
}

@media screen and (max-width: 764px) {

    .about-page {
        padding: 0 50px;
    }

    .about-page-header {
        flex-direction: column-reverse;
        padding: var(--cell) 0;
    }

    .about-page-header-text {
        padding-bottom: calc(var(--cell) * 2);
    }

    .about-page-header-text h1 {
        font-size: var(--cell);
        margin-left: 0px;
        transform: translateY(-7px) !important;
        height: var(--cell) !important;
    }

    .about-page-header-text p {
        font-size: 15px;
        letter-spacing: 1.05px;
        line-height: 30px;
        width: auto;
        transform: translateY(23px);
        padding-top: 0;
        margin-bottom: var(--cell);
    }

    .about-page-header-text .buy-tickets {
        display: inline-block;
    }

    .about-page-header-image {
        width: 100%;
        position: relative;
    }

    .about-page-header-image img {
        position: static;
        transform: translateX(-40%);
        border: 1px solid var(--yglf-green);
    }

    .about-page-header-text {
        width: 100%;
        padding-top: calc(var(--cell));
        height: 224px;
    }

    .about-page .info-block {
        transform: translateY(-6px);
    }

    .about-page-past {
        padding: var(--cell) 0;
        flex-direction: column;
    }

    .about-page-past-section {
        padding-right: 0;
        width: 100%;
    }

    .about-page-past-section h3 {
        white-space: nowrap;
    }
}