.about-page {
    padding: 90px 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANi8xMy8xN9IVNcwAAAAYSURBVAiZY/j//z8DEwMDw3Ak2C7MiwQAxisFIyPcW6IAAAAASUVORK5CYII=');
}

.about-page-header {
    display: flex;
}

.about-page-header-image {
    width: 50%;
    position: relative;
}

.about-page-header-image img {
    position: absolute;
    right: 0;
    top: 0;
}

.about-page-header-text {
    width: 50%;
    position: relative;
}

.about-page-header-text h1 {
    font-size: 111px;
    font-weight: 400;
    color: #05CF9D;
    padding: 0;
    margin: 0;
    margin-left: -120px;
}

.about-page-header-text p {
	font-size: 23px;
	font-weight: 300;
	letter-spacing: 1.22px;
	line-height: 48px;
	width: 450px;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}