.schedule-event {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--cell);
    padding-right: var(--cell);
}

.schedule-event-time {
    line-height: var(--cell);
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    transform: translateY(15px);
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    flex: 1;
}

.schedule-event-time-hour {
    letter-spacing: 0.79px;
    font-size: 15px;
    display: inline-block;
    margin-right: 5px;
}

.schedule-event-time-minute {
    letter-spacing: 0.64px;
    font-size: 12px;
    transform: translateY(-5px);
    display: inline-block;
}

.schedule-event-info {
    flex: 1;
}

.schedule-event-info-wrapper {}

.schedule-event-info-title {
    letter-spacing: 0.79px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    line-height: 26px;
    margin: 0;
    transform: translateY(25px);
    margin-bottom: 25px;
}

.schedule-event-info-speaker {
    font-weight: 400;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    opacity: .7;
    letter-spacing: 0.74px;
}

.schedule-event-info-paragraph {
    letter-spacing: 0.79px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    line-height: 33px;
}
.schedule-event-info-paragraph .read-more-container p {
    transform: translateY(11px);
}

.schedule-event-info-paragraph .read-more {
    border-bottom: 1px solid var(--yglf-grey);
    padding-bottom: calc(var(--cell) - 1px);
}

.schedule-event-info-paragraph .read-more .btn-underline {
    border-bottom: 0 none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3.51px;
    transform: translateY(16px);
}

.schedule-event-info-paragraph .read-more-wrapper {
    transform: translateY(-3px);
}


@media screen and (max-width: 764px) {
    .schedule-event {
        padding-right: 0;
        flex-direction: column;
        margin-bottom: 0;
    }

    .schedule-event-time {
        width: 60px;
        min-width: 60px;
        max-width: 60px;
    }
    .schedule-event-info-title {
    }
    .schedule-event-info-speaker {
    }
}