.info-block {
    margin-bottom: var(--cell);
}

.info-block .info-block-header {
    height: var(--cell);
}

.info-block .info-block-header span {
    display: inline-block;
    height: var(--cell);
    font-size: 12px;
    font-weight: 600;
    padding: 5px 8px;
    transform: translate(5px, 8px);
}

.info-block .info-block-header span i {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 12px;
    display: inline-block;
    margin-left: 10px;
    padding-left: 15px;
    border-left: 1px solid var(--yglf-white);
}

.info-block .info-block-text h2 {
    color: var(--yglf-green);
    font-size: var(--cell);
    line-height: var(--cell);
    font-weight: 400;
    letter-spacing: 4.55px;
    -webkit-font-smoothing: antialiased;
    transform: translateY(4px);
}

.info-block .info-block-text p {
    padding-left: 240px;
    margin: 0;
    width: 450px;
    font-size: 15px !important;
    font-weight: 100;
    font-family: "sofia-pro";
    line-height: 33px;
    letter-spacing: 0.9px;
    -webkit-font-smoothing: antialiased;
    transform: translateY(23px);
}

@media screen and (max-width: 1024px) {
    .info-block .info-block-text p {
        padding-left: 140px;
        width: 500px;
    }
}

@media screen and (max-width: 764px) {
    .info-block .info-block-header span {
        padding: 5px 0;
    }
    .info-block .info-block-text p {
        padding-left: 0px;
        width: 100%;
        //height: auto !important;
    }
}