.menu-overlay {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--yglf-blue);
    opacity: 0;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms;
}

.menu-overlay.hide {
	pointer-events: none;
    opacity: 0;
}

.menu-overlay .menu-list {
    display: flex;
    flex-direction: column;
    width: 100%;
	border-top: 1px solid var(--yglf-green);
}

.menu-overlay .menu-list.menu-list-size-1 {

}

.menu-list-item a {
	text-align: center;
	display: block;
	line-height: var(--cell);
	font-size: var(--cell);
	font-weight: 400;
	color: var(--yglf-green);
	text-decoration: none;
	border-bottom: 1px solid var(--yglf-green);
	padding: 40px 0;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.95px;
}

.menu-overlay .menu-list.menu-list-size-1 a { 
    padding: 40px 0;
    line-height: calc(var(--cell));
    font-size: calc(var(--cell));
}

.menu-overlay .menu-list.menu-list-size-2 a { 
    padding: 20px 0;
    line-height: calc(var(--cell) * .6);
    font-size: calc(var(--cell) * .6);
}

.menu-overlay .menu-list.menu-list-size-3 a { 
    padding: 10px 0;
    line-height: calc(var(--cell) * .75);
    font-size: calc(var(--cell) * .75);
}

.menu-overlay .menu-list.menu-list-size-3 a { 
    padding: 20px 0;
    line-height: calc(var(--cell) * .5);
    font-size: calc(var(--cell) * .5);
}

.menu-overlay .menu-list .menu-list-item a:hover {
	background-color: var(--yglf-green);
	color: var(--yglf-white);
}

.menu-back-wrapper {
    position: absolute;
    top: var(--cell);
    width: 100%;
    border-top: 1px solid var(--yglf-green);
    border-bottom: 1px solid var(--yglf-green);
} 


.menu-back {
    float: right;
    padding-top: var(--cell);
    margin-top: calc(var(--cell) * -1);
    margin-right: calc(var(--cell) * 2);
    border-left: 1px solid var(--yglf-green);
    border-right: 1px solid var(--yglf-green);
} 

.menu-back a {
    display: inline-block;
    line-height: var(--cell);
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    letter-spacing: 4.5px;
    padding: 0 calc(var(--cell) / 4);
    cursor: pointer;
}

.menu-back a:hover {
    background-color: var(--yglf-green);
    color: var(--yglf-white);
}

a.disabled {
    text-decoration: line-through;
    pointer-events: none;
}


@media screen and (max-width: 1024px) {
    .menu-list-item a {
        line-height: 30px;
        font-size: 30px;
        padding: 20px 0;
    }
}

@media screen and (max-width: 764px) {

    .menu-list-item a {
        line-height: 30px;
        font-size: 30px;
        padding: 20px 0;
    }
    .menu-back-wrapper,
    .menu-back {
        display: none;
    }
}
