.speakers {
  padding-bottom: 45px;
}

.speakers-header {
  padding: 0 0 125px;
}

@media (max-width:480px) {
  .speakers {
    padding-top: 45px;
    padding-bottom: 0px;
  }
  .speakers .container-fluid {
    width: calc(100% - 90px);
  }
}
