.speakers {
  padding-bottom: 45px;
}

.speakers .info-block {
  margin-bottom: calc(var(--cell) * 2);
}
.speakers .buy-tickets {
  margin: var(--cell) 240px;
}


.speakers-header {
  padding: 0 0 125px;
}

@media (max-width:480px) {
  .speakers {
    padding-top: 45px;
    padding-bottom: 0px;
  }
  .speakers .container-fluid {
    width: calc(100% - 90px);
  }

  .speakers .buy-tickets {
    margin: var(--cell) 0;
  }

}
