.workshop {
	padding-top: calc(var(--cell) * 2);
    display: flex;
    flex-direction: row;
    margin-bottom: calc(var(--cell) * 2);
}


.workshop .workshop-image {}


.workshop .workshop-image img {
    border: 1px solid var(--yglf-green);
    transform: translateY(-1px);
}


.workshop .workshop-info {
    -webkit-font-smoothing: antialiased;
    padding-left: calc(var(--cell) * 2);
}


.workshop .workshop-info p:not(.workshop-author) {
	font-size: 17px;
	line-height: 30px;
}

.workshop .workshop-author {
    text-transform: uppercase;
    letter-spacing: 2.47px;
    font-size: 15px;
    line-height: var(--cell);
    padding: 0;
    margin: 0;
}

.workshop .workshop-title {
    line-height: var(--cell);
    padding: 0;
    margin: 0;
}

.workshop .workshop-paragraphs {
    transform: translateY(5px);
}


@media screen and (max-width: 1024px) {
    .workshop .workshops-info {
        padding-left: 140px !important;
    }
}

@media screen and (max-width: 764px) {
    
    .workshop .workshops-info {
        padding-left: 0 !important;
    }
    
}