.read-more {}

.read-more-container {
    overflow-y: hidden;
    transition: height 150ms ease-in;
    padding-bottom: var(--cell);
}



.read-more-container p {
    margin-bottom: var(--cell);
    transform: translateY(17px);
}

.read-more-wrapper {
	position: relative;
}
.read-more-bg {
	position: absolute;
	width: 100%;
	z-index: 1;
    padding-bottom: var(--cell);
    background-image: url('/read-more-bg.svg');
    background-repeat: repeat-x;
    background-position: left bottom;
}

.read-more .btn-underline {
    transform: translateY(-6px);
}