.buy-tickets {
    position: relative;
    display: inline-block;
    font-family: "sofia-pro";
    font-weight: 600;
    line-height: 45px;
    height: 45px;
    padding: 0 0;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: var(--yglf-white);
    color: var(--yglf-blue);
    border: 0 none;
    cursor: pointer;
    width: 155px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
    transition: 150ms ease-out;
    -o-transition: 150ms ease-out;
    -ms-transition: 150ms ease-out;
    -moz-transition: 150ms ease-out;
    -webkit-transition: 150ms ease-out;
}

.buy-tickets:hover {
    color: var(--yglf-blue);
}

.buy-tickets:before {
    content: "";
    position: absolute;
    background-color: var(--yglf-green);
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 250ms ease-out;
}

.buy-tickets:hover:before {
    right: 0;
}