.schedule {
    padding: calc(var(--cell) * 2) 0;
}

.schedule .info-block .info-block-text p {
    margin-bottom: var(--cell);
}

.schedule-days {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 764px) {
    .schedule {
        padding: 90px 30px;
    }
    .schedule-days {
    	flex-direction: column;
    }
}