.about {
    overflow: hidden;
    padding-bottom: 180px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANi8xMy8xN9IVNcwAAAAYSURBVAiZY/j//z8DEwMDw3Ak2C7MiwQAxisFIyPcW6IAAAAASUVORK5CYII=');
}

.about .container-header-image {
    position: relative;
}

.about .container-header-image-wrapper {
    position: absolute;
    top: -53px;
    left: 20px;
    border: 1px solid #05CF9D;
    height: 584px;
    overflow: hidden;
}

@media (max-width:480px) {
    .about .container-header-flexbox {
        flex-direction: column-reverse;
    }
    .about .container-fluid {
        width: calc(100% - 90px);
    }
    .about .container-header-image {
        padding-top: 39px;
        position: static;
        width: calc(100% + 92px) !important;
        margin-left: -46px;
        flex: 0;
    }
    .about .container-header-image-wrapper {
        height: auto !important;
    }
    .about .container-header-image img {
        width: 100% !important;
    }

    .about .container-header-image-wrapper {
        position: static;
    }
}
