.about {
    overflow: hidden;
    padding-bottom: 180px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANi8xMy8xN9IVNcwAAAAYSURBVAiZY/j//z8DEwMDw3Ak2C7MiwQAxisFIyPcW6IAAAAASUVORK5CYII=');
}

.about .container-header-image {
    position: relative;
}

.about .container-header-image-wrapper {
    position: absolute;
    top: -53px;
    left: 20px;
    border: 1px solid #05CF9D;
    height: 584px;
    overflow: hidden;
}

@media (max-width:480px) {
    .about .container-fluid {
        width: calc(100% - 90px);
    }
}
