body {
    margin: 0;
    padding: 0;
    font-family: "sofia-pro";
    font-weight: 300;
    background-color: #EBEBF3;
    color: #FFF;
}

.app-body {
    background-color: #3A47E4;
}

.header {
    height: 181px;
    background-color: #3A47E4;
    //border-bottom: 1px solid #05CF9D;
}
.header .container-fluid {
    border-left: 1px solid #05CF9D;
    border-right: 1px solid #05CF9D;
}

.header-title {
    border-bottom: 1px solid #05CF9D;
    font-size: 22px;
    font-weight: 100;
    line-height: 44px;
}
.header-title .container-fluid {
    padding-top: 45px;
}


.header-title a {
    color: #FFF;
    text-decoration: none;
    line-height: 44px;
}

.header-title .container {
    height: 45px;
    padding-top: 45px;
}

.header-description {
    border-bottom: 1px solid #05CF9D;
    font-weight: 100;
    line-height: 45px;
    height: 44px;
}

.header-date-location {
    border-bottom: 1px solid #05CF9D;
    line-height: 45px;
    font-weight: 100;
    height: 44px;
}

.header-date-location .buy-tickets {
    position: absolute;
    top: 0;
    right: 0;
}

.header-date-location strong {
    font-weight: 600;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    position: relative;
    width: calc(100% - 120px);
    padding: 0 15px;
    margin: 0 45px;
}

.container-header {
    
}

.container-header span {
    transform: translate(0, 10px);
    display: inline-block;
    height: 45px;
    font-weight: 600;
}

.container-header span i {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #FFF;
    letter-spacing: 2px;
}

.container-header h1 {
    padding: 0;
    margin: 0;
    color: #05CF9D;
    font-size: 45px;
    line-height: 45px;
    font-weight: 300;
}

.container-header h3 {
    margin: 0;
    padding: 0;
    line-height: 45px;
    margin-bottom: 10px;
}

.container-header p {
    margin: 0;
    width: 570px;
    font-size: 20px;
    font-family: "sofia-pro";
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 10px;
}

.container-header-flexbox {
    display: flex;
}

.container-header-info {
    padding: 65px 0 10px 100px;
}

.container-header-info .buy-tickets {
    margin-top: 45px;
}


.container-header-image {
    overflow: hidden;
}
.container-header-image img {
    margin-top: -45px;
}

.intro {
    //height: 540px;
}

.about {
    padding-bottom: 90px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANi8xMy8xN9IVNcwAAAAYSURBVAiZY/j//z8DEwMDw3Ak2C7MiwQAxisFIyPcW6IAAAAASUVORK5CYII=');
}

.speakers {
    padding-bottom: 83px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAtCAYAAABvewHEAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAVdEVYdENyZWF0aW9uIFRpbWUANi8xMy8xN9IVNcwAAAAYSURBVAiZY/j//z8DEwMDw3Ak2C7MiwQAxisFIyPcW6IAAAAASUVORK5CYII=');
}

.speakers-header {
    padding: 0 0 80px;
}

.buy-tickets {
    font-family: "sofia-pro";
    font-weight: 600;
    line-height: 45px;
    height: 45px;
    padding: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #FFF;
    color: #3A47E4;
    border: 0 none;
    cursor: pointer;
}
.buy-tickets:hover {
    background-color: #05CF9D;
}

.speakers-list {}

.speaker {
    display: flex;
    margin-bottom: 135px;
    height: 450px;
    position: relative;
}
.speaker .social-icons {
    flex-direction: column;
    position: absolute;
    top: -7px;
    left: -45px;
}

.speaker .social-icons a {
    text-decoration: none;
    color: #FFF;
}

.speaker img {
    min-width: 450px;
    min-height: 450px;
}

.drop-shadow {
    -webkit-box-shadow: 40px 17px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 40px 17px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 40px 17px 30px 0px rgba(0, 0, 0, 0.15);
}

.drop-shadow-small {
    -webkit-box-shadow: 15px 9px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 15px 9px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 15px 9px 20px 0px rgba(0, 0, 0, 0.15);
}

.speaker-info {
    padding-left: 150px;
    flex: 1 auto;
}

.speaker h2 {
    padding: 0;
    margin: 0;
    font-size: 45px;
    font-weight: 300;
    padding: 0 0 45px 90px;
    line-height: 45px;
}

.speaker h2 .speaker-first-name,
.speaker h2 .speaker-last-name {
    display: block;
    line-height: 45px;
}

.speaker-position,
.speaker-company {
    line-height: 22px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    font-weight: 100;
}

.speaker-description {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    max-width: 400px;
}

.speaker:nth-child(2n) {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.speaker:nth-child(2n) .social-icons {
    right: -45px;
    left: auto;
}

.speaker:nth-child(2n) .speaker-info {
    padding-left: 90px;
}

.footer {
    padding-top: 100px;
    color: #3A47E4;
    padding-bottom: 90px;
}

.footer a {
    font-weight: 300;
    color: #3A47E4;
    text-decoration: none;
}
.footer a:hover {
    //color: #05CF9D;
}

.footer p {
    line-height: 200%;
    font-weight: 300;
}

.created-by a {
    font-weight: 600;
}

.footer-flexbox {
    display: flex;
    margin-bottom: 15px;
}

.footer-flexbox strong {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    display: inline-block;
}

.footer-flexbox:first-child {
    border-bottom: 1px solid #3A47E4;
    padding-bottom: 45px;
}

.footer-flexbox > div {
    width: 50%;
    flex: 1 auto;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    //align-items: stretch;
    max-width: 420px;
    padding-top: 15px;
}

.footer-links a {
    min-width: 140px;
    flex: 1 auto;
    display: inline-block;
    text-decoration: none;
    color: #3A47E4;
    padding: 5px 0;
}

.subscribe {
    display: flex;
}
.subscribe input,
.subscribe button {
    border: 1px solid #3A47E4;
    color: #3A47E4;
    font-weight: 900;
}

.subscribe input {
    min-width: 200px;
    padding: 8px;
}
.subscribe button {
    color: #3A47E4;
    border-left: 0 none;
    background-color: #05CF9D;
    letter-spacing: 2px;
    padding: 8px 15px;
}

.footer .social-icons {
    float: right;
}

.social-icons {
    display: flex;
}
.social-icons a {
    display: inline-block;
    padding: 5px;
}
.social-icons a i {
    font-size: 20px;
}


