.speaker {
    display: flex;
    margin-bottom: 180px;
    height: 450px;
    position: relative;
}

.speaker .social-icons {
    flex-direction: column;
    position: absolute;
    top: 6px;
    left: -45px;
}

.speaker .social-icons a {
    text-decoration: none;
    color: #FFF;
    height: 35px;
    cursor: pointer;
}

.speaker .social-icons a:hover i {
    color: #05CF9D;
}

.speaker img {
    border: 1px solid #05CF9D;
}

.speaker-info {
    padding-left: 160px;
    flex: 1;
}

.speaker h2 {
    margin: 0;
    padding: 2px 0 42px 120px;
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: .95px;
    -webkit-font-smoothing: antialiased;
}

.speaker h2 .speaker-first-name,
.speaker h2 .speaker-last-name {
    display: block;
    line-height: 45px;
}

.speaker-position,
.speaker-company {
    line-height: 22px;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    font-weight: 100;
    letter-spacing: 2px;
}

.speaker-description {
    padding-top: 8px;
    max-width: 400px;
    font-size: 15px !important;
    font-weight: 100;
    font-family: "sofia-pro";
    line-height: 33px;
    letter-spacing: 0.9px;
}

.speaker:nth-child(2n) {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.speaker:nth-child(2n) .social-icons {
    right: -45px;
    left: auto;
}

.speaker:nth-child(2n) h2 {
    padding-left: 0;
    margin-left: -120px;
}

.speaker:nth-child(2n) .speaker-info {
    padding-left: 240px;
}

.speaker:nth-child(2n) .speaker-description {
    max-width: 480px;
    padding-right: 60px;
}

@media (max-width:480px) {
    .speaker {
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
    }
    .speaker:nth-child(2n) {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .speaker-info,
    .speaker:nth-child(2n) .speaker-info {
        padding: 8px 0 0;
    }
    .speaker h2 {
        padding: 0 0 2px 0;
        font-size: 30px;
    }
    .speaker:nth-child(2n) h2 {
        margin-left: 0px;
    }
    .speaker h2 .speaker-first-name,
    .speaker h2 .speaker-last-name {
        display: initial;
        font-size: 30px;
    }
    .speaker .social-icons {
        display: none;
    }
}
