.team-list {
    padding: var(--cell) 0 calc(var(--cell) * 4 + 29px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // height: calc(var(--cell) * 38);
    // min-height: calc(var(--cell) * 38);
}

.team-list .team-person:nth-child(3n+2) {
    padding-top: calc(var(--cell) * 2);
}

.team-list .team-person:nth-child(3n+3) {}

.team-person {
    width: calc(100% / 3); //height: calc(var(--cell) * 8);
}

.team-person.portrait .team-person-wrapper {
    width: 232px;
}

.team-person.landscape .team-person-wrapper {
    width: 300px;
}

.team-person.portrait:nth-child(3n+2) .team-person-wrapper,
.team-person.landscape:nth-child(3n+2) .team-person-wrapper {
    margin: 0 auto;
}

.team-person.portrait:nth-child(3n+3) .team-person-wrapper,
.team-person.landscape:nth-child(3n+3) .team-person-wrapper {
    float: right;
}

.team-list .team-person-wrapper:nth-child(3n+2) {}

.team-list .team-person-wrapper:nth-child(3n+2) {}

.team-person.landscape {}

.team-person.portrait {}

.team-person.sergei_bolshichov,
.team-person.igal_staklov {
    transform: translateY(-8px);
}

.team-person.tom_raviv {
    transform: translateY(14px);
}

.team-person.oren_shtang {
    transform: translateY(-49px);
}

.team-person.oren_shtang .team-person-name {
    transform: translateY(14px);
}

.team-person.anna_helise_rand {
    transform: translateY(33px);
}

.team-person.yogev_surname {
    transform: translateY(-49px);
}

.team-person.yogev_surname .team-person-name {
    transform: translateY(15px);
}

.team-person.yogev_surname .team-person-wrapper {
    transform: translateX(-68px);
}

.team-person.adir_surname {
    transform: translateY(16px);
}

.team-person.adir_surname .team-person-name {
    transform: translateY(13px);
}

.team-person.danielle_kanish {
    transform: translateY(74px);
}

.team-person.ella_moscovitz {
    transform: translateY(60px);
}

.team-person.ella_moscovitz .team-person-name {
    transform: translateY(37px);
}

.team-person.mor_gilad {
    transform: translateY(11px);
}

.team-person.mor_gilad .team-person-name {
    transform: translateY(15px);
}

.team-person.yaron_shavit {
    transform: translateY(93px);
}

.team-person img {
    border: 1px solid var(--yglf-green);
    margin: 0 auto;
    transform: translateY(-1px);
}

.team-person.portrait img {
    width: 232px;
    height: 300px;
}

.team-person.landscape img {
    width: 300px;
    height: 232px;
}

.team-person-name {
    font-size: 25px;
    color: var(--yglf-green);
    font-weight: 400;
    font-size: 25px;
    line-height: 57px;
    letter-spacing: 0.28px;
    -webkit-font-smoothing: antialiased;
}

.team-person-position {
    font-size: 13px;
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: 400;
    letter-spacing: 3px;
    color: var(--yglf-white);
    opacity: 0.75; //-webkit-font-smoothing: antialiased;
}